@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .caption {
    @apply tracking-space font-Quicksand text-[0.6875rem] uppercase;
  }
  .title {
    @apply tracking-space font-playFair text-lg font-bold uppercase;
  }
  .skillBar {
    @apply bg-bgColor relative h-[6px] w-full rounded-md before:absolute before:h-[6px]  before:rounded-md  before:content-[''] after:absolute  after:top-[-3px] after:h-3 after:w-3 after:rounded-full after:content-[''];
  }
  .blue_skillBar {
    @apply before:w-3/4 before:bg-nil after:bg-nil after:left-[74%];
  }
  .red_skillBar {
    @apply before:w-3/5 before:bg-red-500 after:bg-red-500 after:left-[59%];
  }
  .yellow_skillBar {
    @apply before:w-[85%] before:bg-yellow-500 after:bg-yellow-500 after:left-[84%];
  }
  .purple_skillBar {
    @apply before:w-[90%] before:bg-purple-500 after:bg-purple-500 after:left-[89%];
  }
  .green_skillBar {
    @apply before:w-[70%] before:bg-green-500 after:bg-green-500 after:left-[69%];
  }
  .indigo_skillBar {
    @apply before:w-[80%] before:bg-indigo-500 after:bg-indigo-500 after:left-[79%];
  }
}

@layer utilities {
  .myShadow {
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .path {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}

/* custom css here */

.main-content {
  transition: margin-left 0.5s;
}

.showWidth {
  width: 300px;
}

.marginLeft {
  margin-left: 300px;
}

/* javascript */

.link {
  position: relative;
  /* border-bottom: 1px solid #2c98f0; */
}

#side-menu {
  transition: 0.5s;
}

.link::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom: 0;
  background: #2c98f0;
  left: 50%;
  transition: width 0.2s linear;
}
.link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom: 0;
  background: #2c98f0;
  right: 50%;
  transition: width 0.2s linear;
}

.link:hover::before {
  width: 50%;
}
.link:hover::after {
  width: 50%;
}

/* js bars */
.active .bar1 {
  transform: translateY(8px) rotate(-45deg);
  transition: transform 0.3;
}
.active .bar2 {
  opacity: 0;
  transition: transform 0.3;
}

.active .bar3 {
  transform: translateY(-8px) rotate(45deg);
  transition: transform 0.3;
}

.parallax {
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
